# Увеличиваем лимит, чтобы длинные формулы матриц не разрывало на полуслове
ColumnLimit: 200

# Включаем выравнивание операндов (знаков +, *, =), чтобы они шли друг под другом
AlignOperands: Align

# Включаем выравнивание при переносе по левому краю или по знаку
AlignAfterOpenBracket: Align

# Оставляем остальные ваши настройки без изменений
Language: Cpp
BasedOnStyle: Microsoft
SortIncludes: Never
StatementMacros: [ 'UPROPERTY', 'UFUNCTION', 'UCLASS', 'USTRUCT', 'UENUM', 'UINTERFACE', 'GENERATED_BODY' ]
AccessModifierOffset: -4
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakInheritanceList: AfterColon
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
SpacesBeforeTrailingComments: 2
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: LogicalBlock
IndentCaseBlocks: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeCaseColon: false
TabWidth: 4
UseTab: Always
ContinuationIndentWidth: 4
PenaltyIndentedWhitespace: 0

# 1. ЗАПРЕЩАЕТ clang-format сливать несколько строк в одну, если вы сами нажали Enter
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1

# 3. Убираем штрафы за переносы (чтобы форматтер не боялся делить код на строки)
PenaltyBreakAssignment: 0
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakOpenParenthesis: 0